<!DOCTYPE html>
<html>
<head>
	<title>ATENA Provider</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= favicon_link_tag asset_path('iconzinho.ico') %>
	<%= yield :head %>
	<style type="text/css">
		#content {
			min-height: 100px;
		}
		.ui.grid{
			padding: 0 !important;
		}
		.pushable.segment{
			margin: 0 !important;
		}	
	</style>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
</head>
<body >
		<!-- Menu desktop -->
		<div class="ui computer only one wide column" style="margin-left: 1.5em;">
			<%= render 'layouts/top_menu' %>
			<div class="ui labeled icon vertical left inverted fixed menu">
				<%= render 'layouts/sidebar_menu' %>
			</div>
		</div>
		<!-- Fim menu desktop -->
		
		<!-- Conteudo principal -->
		<div  class="fourteen wide sixteen mobile column container" style="margin-top: 2.5%;">
			<%= yield %>
		</div>
		<!-- Conteudo principal -->
	</div>

	<%= render 'layouts/alert_messages' %>
</body>
</html>
